.chatbotContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.chatContainer {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0.5rem;
  text-align: center;
  height: 100vh;
}

/* Search Container (fijo al final) */
.searchContainer {
  display: flex;
  height: 4.5rem;
  margin: 0.3rem;
  justify-content: center;
  align-items: center;
}

.chatMsj {
  position: relative;
  padding: 1rem;
  border-radius: 1rem;
  color: #ffffff;
  font-weight: bold;
  height: auto;
  width: 100%;
  max-width: 100%;
  word-wrap: break-word;
  overflow: hidden;
}

.chatMsj::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #212729;
  filter: blur(10px);
  z-index: -1;
}

.inputPrompt {
  width: auto !important;
}
@media screen and (min-width: 720px) {
  .inputPrompt {
    width: 40rem !important;
  }
}

.inputPrompt .ant-input-affix-wrapper {
  background-color: #263338 !important;
  color: #fff !important;
  border: none !important;
}

.inputPrompt .ant-input::placeholder {
  color: #aaaaaa !important;
}

.inputPrompt .ant-input:focus,
.inputPrompt .ant-input:hover {
  background-color: #263338 !important;
  color: #fff !important;
  border: none !important;
}

.inputPrompt .ant-btn {
  background-color: #104277 !important;
  color: #fff !important;
  border: none !important;
}

.inputPrompt .ant-btn:hover {
  background-color: #0056b3 !important;
}
.msjInit {
  overflow: hidden;
  white-space: nowrap;
  width: 0; /* Inicia el ancho en 0 */
  animation: typing 2s steps(30) 1s forwards,
    blink-caret 0.75s step-end infinite; /* Animaciones */
  color: #8ba5b1 !important;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
*::-webkit-scrollbar {
  width: 9px !important;
}

*::-webkit-scrollbar-track {
  background: #212729 !important;
  border-radius: 6px !important;
}

*::-webkit-scrollbar-thumb {
  background: #6e6e6e !important;
  border-radius: 6px !important;
}

*::-webkit-scrollbar-thumb:hover {
  background: #353535 !important;
}
