.chatbotContainer {
  display: flex;
  flex-direction: column;

  height: 100vh;
}

.chatContainer {
  flex: 1; /* Ocupa todo el espacio restante */
  width: 100%;
  text-align: center;
}

/* Search Container (fijo al final) */
.searchContainer {
  display: flex;
  height: 5rem;
  margin: 1rem;

  justify-content: center;
  align-items: center;
}

.inputPrompt {
  width: 40rem;
}

.chathist {
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.chatMsj {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #868686;
  color: #ffffff;
  font-weight: bold;
  height: auto;
  width: 100%;
  max-width: 100%;
  word-wrap: break-word;
}

.chatMsjCnt {
  margin: 1rem;
}
