/* Estilos básicos */
.markdown-container {
  text-align: left;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #ffffff;
  padding: 0.5rem;
  word-wrap: break-word;
  overflow-wrap: break-word; /* Asegura que las palabras largas se rompan si es necesario */
}

/* Títulos */
.markdown-container h1 {
  font-size: 2rem;
  color: #2c3e50;
}

.markdown-container h2 {
  font-size: 1.75rem;
  color: #34495e;
}

.markdown-container h3 {
  font-size: 1.5rem;
  color: #7f8c8d;
}

/* Listas */
.markdown-container ul {
  list-style-type: disc;
  padding-left: 1.2rem;
}

.markdown-container ol {
  list-style-type: decimal;
  padding-left: 1.2rem;
}

.markdown-container li {
  margin-bottom: 0.8rem;
}

/* Texto en negrita y cursiva */
.markdown-container strong {
  font-weight: bold;
}

.markdown-container em {
  font-style: italic;
}

/* Códigos */
.markdown-container code {
  background-color: #3a494d;
  padding: 2px 5px;
  border-radius: 3px;
}

.markdown-container pre {
  background-color: #324c53;
  color: #ecf0f1;
  padding: 0.8rem;
  border-radius: 5px;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word; /* Romper palabras largas */
  max-width: 100%; /* Asegura que el bloque de código no se desborde */
}

/* Enlaces */
.markdown-container a {
  color: #113852;
  text-decoration: none;
}

.markdown-container a:hover {
  text-decoration: underline;
}

/* Tablas */
.markdown-container table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Asegura que las tablas se ajusten al contenedor */
}

.markdown-container th,
.markdown-container td {
  padding: 0.8rem;
  border: 1px solid #ddd;
  text-overflow: ellipsis; /* Para manejar el texto largo */
}

.markdown-container th {
  background-color: #2c3e50;
  color: #6b8997;
  word-wrap: break-word;
}

/* Imágenes */
.markdown-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Media Queries para hacer responsive */
@media screen and (max-width: 768px) {
  .markdown-container h1 {
    font-size: 1.75rem;
  }

  .markdown-container h2 {
    font-size: 1.5rem;
  }

  .markdown-container h3 {
    font-size: 1.25rem;
  }

  .markdown-container ul,
  .markdown-container ol {
    padding-left: 1rem;
  }

  .markdown-container li {
    margin-bottom: 0.6rem;
  }

  .markdown-container pre {
    padding: 0.6rem;
    font-size: 0.9rem;
  }

  .markdown-container table {
    width: 100%;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  .markdown-container h1 {
    font-size: 1.5rem;
  }

  .markdown-container h2 {
    font-size: 1.3rem;
  }

  .markdown-container h3 {
    font-size: 1.1rem;
  }

  .markdown-container pre {
    padding: 0.5rem;
    font-size: 0.85rem;
  }

  .markdown-container table {
    font-size: 0.85rem;
  }

  .markdown-container img {
    width: 100%; /* Asegura que las imágenes se ajusten al tamaño del contenedor */
  }
}
