.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.2rem;
  background-color: #2d3d4f;
  color: white;
}

.navbar-avatar {
  border-radius: 50%;
}

.navbar-title {
  color: #ffffff !important;
  font-size: 1.5rem !important;
  font-weight: bold !important;
}
