.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.2rem;
  background-color: #232c30;
  color: white;
  margin: 0.5rem 1rem;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.navbar-avatar {
  border-radius: 50%;
}

.navbar-title {
  margin: 0.6rem 0rem;
  color: #ffffff !important;
  font-size: 1.5rem !important;
  font-weight: bold !important;
  overflow: hidden;
  border-right: 2px solid #313f46; /* Simula el cursor de escritura */
  white-space: nowrap;
  width: 0; /* Inicia el ancho en 0 */
  animation: typing 3s steps(30) 1s forwards,
    blink-caret 0.75s step-end infinite; /* Animaciones */
  text-align: center;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
